$blue: #beb812;
$margin: 16px ;

@import "includes/reset";
@import "includes/mixin";
@import "includes/home";
@import "includes/settings";


.content-navigation {
  border-color: $blue;
  color:darken($blue,9%);
}

.box{
  @include test(o);
}