<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getiss</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <script data-main="js/app/app.js" src="js/app/bower_components/requirejs/require.js"></script>
</head>
<body>
<div id="todo">
</div>
<script type="text/template" id="item-template">
    <div>
        <input id="todo_complete" type="checkbox" <%= completed ?
        'checked="checked"' : '' %>>
        <%= title %>
    </div>
</script></body>
</html>